
.nav {
    background-color: rgba(133, 133, 102, 0.295);
    width: 100%;
    padding: .5% 7%;
    height: 9%;
}

th, td {
    border: 1px solid black;
    background-color: blueviolet;
    color: black;
    text-align: center;
}

td {
    border-color: green;
    background-color: rgb(137, 162, 165);
    color: aliceblue;
}

table {
    margin: 2.5%;
    width: 90%;
}

.recImg {
    border-radius: 50rem;
}